<!DOCTYPE html>
<html lang="en">
   <%- partial("_partial/head") %>
   <body>
      <!-- header -->
      <%- partial('_partial/header') %>
      <!-- main -->
      <%- body %>
      <!-- footer -->
      <%- partial('_partial/footer') %>
      <!-- sidebar -->
      <%- partial('_partial/sidebar') %>
      <!-- scripts -->
      <div class="menu-overlay"></div>
      <%- partial('_partial/assets/body-script') %>
   </body>
</html>
