<main class="page">
   <!-- heading -->
   <h1><%- page.title %></h1>
   <div class="line line-page"></div>
   <% site.posts.forEach(function(post){ %> <% if(post.title == page.title) { %>
   <section class="page-post">
      <div class="page-post-image">
         <img src="<%= post.imgPath %>%>" alt="logo-banner" />
      </div>
      <div class="page-post-content">
         <% if(post.name || post.place || post.details) { %>
         <h3 class="post-name"><%= post.name %></h3>
         <p class="post-details"><%= post.details %></p>
         <p class="post-place"><%= post.place %></p>
         <% } %> <% if(post.author || post.position) { %> <% if(post.author) {
         %>
         <div class="post-author">
            <span class="post-author-name"><%= post.author%></span> <% } %>
            <span class="post-author-position"><%= post.position%></span>
         </div>
         <% } %> <% if(post.service || post.slogan) { %> <% if(post.service) {
         %>
         <div class="post-service">
            <h3 class="post-service-name"><%= post.service%></h3>
            <% } %>
            <h2 class="post-slogan"><%= post.slogan%></h2>
         </div>
         <% } %>
         <p class="page-post-desc"><%= post.desc %></p>
      </div>
   </section>
   <% } %> <% }) %>
   <a href="/" class="page-button"> Close </a>
</main>
