<main class="homepage">
   <!--  -->
   <%- partial('_partial/homepage/header') %>
   <!--  -->
   <%- partial('_partial/homepage/intro') %>
   <!--  -->
   <%- partial("_partial/homepage/what-i've-done") %>
   <!--  -->
   <%- partial("_partial/homepage/what-i've-done-2") %>
   <!--  -->
   <%- partial("_partial/homepage/myworks") %>
   <!--  -->
   <%- partial("_partial/homepage/webdesign") %>
   <!--  -->
   <%- partial("_partial/homepage/logodesign") %>
   <!--  -->
   <%- partial("_partial/homepage/slogan") %>
   <!--  -->
   <%- partial("_partial/contact") %>
</main>
