<main class="page">
   <!--  -->
   <%- partial('_partial/logofolio/header') %>
   <!--  -->
   <%- partial('_partial/logofolio/my-logo-design-style') %>
   <!--  -->
   <%- partial('_partial/logofolio/technology') %>
   <!--  -->
   <%- partial('_partial/logofolio/spa-beauty') %>
   <!--  -->
   <%- partial('_partial/logofolio/fashion') %>
   <!--  -->
   <%- partial('_partial/logofolio/farm-food') %>
   <!--  -->
   <%- partial('_partial/logofolio/education') %>
   <!--  -->
   <%- partial('_partial/logofolio/more') %>
   <!--  -->
   <%- partial("_partial/contact") %>
</main>
